<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class='title'>MadLibs</h1>
    <h2>Pick Your Story</h2>

    <form action="/form">
        <select name="picks">
          {% for story in stories %}
            <option value="{{ story.code }}">
                {{ story.title }}
            </option>
          {% endfor %}
        </select>
        <button>Submit</button>
      </form>
       
</body>
</html>